.message {
    font-family: Roboto, Arial, SansSerif, serif;
    color: firebrick;
}
.result {
    display: block;
    text-wrap: normal;
    height: 200px;
    width: 100%;
    font: .875rem/1.5 Consolas,monaco,monospace;
    color: #666;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fff;
    margin-top: 10px;
}
#text {
    height: 200px;
    width: 100%;
}